<div class="header">
    <div>LOGO</div>
    <div class="right-menu">
        <div class="right-menu-item">Offers</div>
        <div class="right-menu-item">Offers</div>
        <div class="right-menu-item">Offers</div>
    </div>
</div>
<div class="hero-container">
    <div class="hero-image"></div>
    <div class="carousel-container">
        <div>Massage & Spa</div>
        <div>Massage & Spa</div>
        <div>Massage & Spa</div>
        <div>Massage & Spa</div>
        <div>Massage & Spa</div>
    </div>
</div>
<div class="trending-container">
    <div class="trending-content">
        <div class="trending-heading">Trending</div>
        <div class="trending-card-container">
            <div class="trending-card" *ngFor="let item of [].constructor(4)">
                <div class="trending-card-image"></div>
                <div class="trending-card-content">
                    <div class="trending-card-heading">Total Relief Massage Center</div>
                    <div class="trending-card-subheading">Massage Center</div>
                    <div class="trending-card-text">Mulund, Mumbai</div>
                </div>
                <div class="trending-card-footer">
                    <div class="rating">
                        <img height="15px" width="15px" src="https://media.istockphoto.com/vectors/yellow-star-icon-vector-id1138148927?k=20&m=1138148927&s=170667a&w=0&h=g9luU7DzUMqOCv46ZRiSDiSdsyQqtV6UWfsN2AF1B2I=" alt="" srcset="">
                        <div>3.4</div>
                    </div>
                    <div>21 mins</div>
                    <div>50% Off</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribe-container">
    <div class="subscribe-content">
        <div>
            <div>Grow your business with us.</div>
            <div>Become a professional</div>
        </div>
        <div class="btn-container">
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>
</div>
<div class="review-container">
    <div class="review-content">
        <div class="review-heading">
            <div>Customer Reviews</div>
        </div>
        <div class="review-card-container">
            <div class="review-card" *ngFor="let item of [].constructor(3)">
                <div class="review-head">
                    <div class="review-profile"></div>
                    <div class="review-name">Kate Doe</div>
                </div>
                <div class="review-content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="download-container">
    <div class="download-image"></div>
    <div class="download-right">
        <div class="download-right-heading">Download The App</div>
        <div class="download-right-text">
            <div>Choose and Apply from available</div>
            <div>Services anf platform</div>
        </div>
        <div class="download-btn-container">
            <div class="play-store-btn"></div>
            <div class="app-store-btn"></div>
        </div>
    </div>
</div>
<div class="footer-content">
    <div class="footer-left">
        <div>
            <div class="foot-head">Company</div>
            <div class="foot-text">About</div>
            <div class="foot-text">News</div>
            <div class="foot-text">Others</div>
            <div class="foot-text">Terms & Conditions</div>
        </div>
        <div>
            <div class="foot-head">Help</div>
            <div class="foot-text">FAQs</div>
            <div class="foot-text">Contact</div>
            <div class="foot-text">Support</div>
            <div class="foot-text">Policy</div>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <div class="foot-head">Follow Us On</div>
            <div class="foot-text">Twitter</div>
            <div class="foot-text">Facebook</div>
            <div class="foot-text">Linked In</div>
        </div>
        <div>
            <div class="foot-text">Youtube</div>
            <div class="foot-text">Instagram</div>
        </div>
    </div>
</div>